{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="client_info">
        {% block client_info %}
        <ul>
            <li> {{ invoice.client.name }}</li>
            <li> Fao: CHANGE ME </li>
            <li> {{ invoice.client.street }}</li>
            <li> {{ invoice.client.postal_code }} {{ invoice.client.city }}</li>
            <li> {{ invoice.client.country }}</li>
        </ul>
        {% endblock %}
    </div>
    <div id="invoice_date" style="">
        Date: today
    </div>

    <div id="work_sessions">
        <table class="table">
            <thead>
                <tr>
                      <th>Date</th>
                      <th>Start</th>
                      <th>Stop</th>
                      <th>Hrs (hr:min)</th>
                </tr>
            </thead>
            <tbody>
                {% for work_session in work_sessions %}
                <tr>
                  <td>{{ work_session.get_date_string }}</td>
                  <td>{{ work_session.start_date_string }}</td>
                  <td>{{ work_session.end_date_string }}</td>
                  <td>{{ work_session.get_session_duration_date_string }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Total amount of hours (hr:min)</td>
                    <td>{{ invoice.get_work_sessions_total_duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

<footer style="display: flex; justify-content: center">
    <p class="red">COMMERCIAL REGISTER&nbsp</p><p class="blue">09 146 700&nbsp</p><p class="red"> V.A.T.&nbsp</p><p class="blue">NL-814353459.B01&nbsp</p><p class="red">ABN-AMRO BANK ACCOUNT&nbsp</p><p class="blue">NL52ABNA0477559336&nbsp</p><p class="red">BIC&nbsp</p><p class="blue">ABNANL2A&nbsp</p>
</footer>