<!DOCTYPE html>
<html lang="en">

<body>
    <div style='color: #0063dd' id="client_info">
        {% block client_info %}
        <ul>
            <li> {{ invoice.client.name }}</li>
            <li> Fao: CHANGE ME </li>
            <li> {{ invoice.client.street }}</li>
            <li> {{ invoice.client.postal_code }} {{ invoice.client.city }}</li>
            <li> {{ invoice.client.country }}</li>
        </ul>
        {% endblock %}
    </div>

    <div id="work_sessions">
        <table style="border: 1px solid black; border-collapse: collapse" class="table">
            <thead>
                <tr style="background-color: grey">
                      <th style="border: 1px solid black; border-collapse: collapse">Date</th>
                      <th style="border: 1px solid black; border-collapse: collapse">Start</th>
                      <th style="border: 1px solid black; border-collapse: collapse">Stop</th>
                      <th style="border: 1px solid black; border-collapse: collapse">Hrs</th>
                </tr>
            </thead>
            <tbody>
                {% for work_session in work_sessions %}
                <tr>
                  <td style="border: 1px solid black; border-collapse: collapse">{{ work_session.get_date_string }}</td>
                  <td style="border: 1px solid black; border-collapse: collapse">{{ work_session.start_date_string }}</td>
                  <td style="border: 1px solid black; border-collapse: collapse">{{ work_session.end_date_string }}</td>
                  <td style="border: 1px solid black; border-collapse: collapse">{{ work_session.get_session_duration_date_string }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>